<div class="grid">
  <table ng-class="tableClasses">
    <thead>
      <tr>
        <th ng-repeat="column in columns" ng-bind="column.header">
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- ng-repeat should not be used in real applications where 1000 of rows are displayed due to performance issues -->
      <tr ng-repeat="row in data">
        <td ng-repeat="column in columns">
          <span ng-if="column.expression" compile="column.expression"></span>
          <span ng-if="!column.expression">{{row[column.propertyName]}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-transclude></div>
</div>
