<div class="jumbotron" ng-controller="MainCtrl as main">
  <button type="button" class="btn btn-default" ng-click="main.setCheapestThree()">3 cheapest</button>
  <button type="button" class="btn btn-default" ng-click="main.setMostExpensiveThree()">3 most expensive</button>
  <button type="button" class="btn btn-default" ng-click="main.resetFilters()">All</button>
  <div >
    <grid data="main.products" table-classes="table table-hover" is-editable="false">
      <column property-name="name" header="Name"></column>
      <column property-name="warranty_years" header="Waranty Years"></column>
      <column property-name="color" header="Color"></column>
      <column property-name="price" header="Price" expression="row.price | currency "></column>
      <column expression="main.addToCartTemplate" ></column>
    </grid>
  </div>
</div>
