<div class="jumbotron" ng-controller="MainCtrl as main">
  <button type="button" class="btn btn-default" ng-click="main.setCheapestThree()">3 cheapest</button>
  <button type="button" class="btn btn-default" ng-click="main.setMostExpensiveThree()">3 most expensive</button>
  <button type="button" class="btn btn-default" ng-click="main.resetFilters()">All</button>
  <div >
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Waranty Years
          </th>
          <th>
            Color
          </th>
          <th>
            Price
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in main.products">
          <td ng-bind="product.name"></td>
          <td ng-bind="product.warranty_years"></td>
          <td ng-bind="product.color"></td>
          <td ng-bind="product.price | currency "></td>
          <td>
            <button ng-if="!main.isInCart(product)" ng-click="main.addToCart(product)" type="button"  class="btn btn-primary">Add to cart</button>
            <button ng-if="main.isInCart(product)" ng-click="main.removeFromCart(product)" type="button"  class="btn btn-danger">Remove from cart</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
